<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<extension
			point="org.eclipse.ui.popupMenus">
		<objectContribution
				adaptable="true"
				objectClass="org.eclipse.core.resources.IProject"
				nnameFilter="*"
				id="Plugin.contribution1">
		</objectContribution>
	</extension>
	<extension
			id="xmlProblem"
			name="XML Problem"
			point="org.eclipse.core.resources.markers">
		<super
				type="org.eclipse.core.resources.problemmarker">
		</super>
		<persistent
				value="true">
		</persistent>
	</extension>
	<extension
			point="org.eclipse.ui.newWizards">
		<category
				id="UDA wizard"
				name="UDA">
		</category>
		<wizard
				icon="icons/uda.gif"
				name="1. Crear nueva aplicación"
				category="UDA wizard" 
				class="com.ejie.uda.wizards.NewApplicationWizard"
				id="com.ejie.uda.wizards.NewApplicationWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="4. Añadir proyecto WAR"
				category="UDA wizard"
				class="com.ejie.uda.wizards.AddWarApplicationWizard"
				id="com.ejie.uda.wizards.AddWarApplicationWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="2. Generar código de negocio y control"
				category="UDA wizard"
				class="com.ejie.uda.wizards.GenerateCodeWizard"
				id="com.ejie.uda.wizards.GenerateCodeWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="3. Generar mantenimiento"
				category="UDA wizard"
				class="com.ejie.uda.wizards.NewMaintWizard"
				id="com.ejie.uda.wizards.NewMaintWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="7. Generar código para EJB Servidor"
				category="UDA wizard"
				class="com.ejie.uda.wizards.GenerateSkeletonWizard"
				id="com.ejie.uda.wizards.GenerateSkeletonWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="6. Generar código para EJB Cliente"
				category="UDA wizard"
				class="com.ejie.uda.wizards.GenerateStubWizard"
				id="com.ejie.uda.wizards.GenerateStubWizard">
		</wizard>
		<wizard  
				icon="icons/uda.gif"
				name="5. Añadir proyecto EJB"
				category="UDA wizard"
				class="com.ejie.uda.wizards.AddEjbApplicationWizard"
				id="com.ejie.uda.wizards.AddEjbApplicationWizard">
		</wizard>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page 
				id="com.ejie.uda.preferences.preferencesPage" 
				name="UDA" 
				class="com.ejie.uda.preferences.PreferecesMainPage"> 
		</page>
	</extension>
	<extension
			point="org.eclipse.core.runtime.preferences">
		<initializer class="com.ejie.uda.preferences.Initializer"/>
	</extension>
</plugin>
