<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
			point="org.eclipse.ui.popupMenus">
		<objectContribution
				adaptable="true"
				objectClass="org.eclipse.core.resources.IProject"
				nnameFilter="*"
				id="Plugin.contribution1">
		</objectContribution>
	</extension>
	<extension
			id="xmlProblem"
			name="XML Problem"
			point="org.eclipse.core.resources.markers">
		<super
				type="org.eclipse.core.resources.problemmarker">
		</super>
		<persistent
				value="true">
		</persistent>
	</extension>
	<extension
			point="org.eclipse.ui.newWizards">
		<category
				id="UDA wizard"
				name="UDA">
		</category>
		<wizard
				icon="icons/uda.gif"
				name="1. Crear nueva aplicación"
				category="UDA wizard" 
				class="com.ejie.uda.wizard.NewApplicationWizard"
				id="com.ejie.uda.wizard.NewApplicationWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="4. Añadir proyecto WAR"
				category="UDA wizard"
				class="com.ejie.uda.wizard.AddWarApplicationWizard"
				id="com.ejie.uda.wizard.AddWarApplicationWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="2. Generar código de negocio y control"
				category="UDA wizard"
				class="com.ejie.uda.wizard.GenerateCodeWizard"
				id="com.ejie.uda.wizard.GenerateCodeWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="3. Generar mantenimiento"
				category="UDA wizard"
				class="com.ejie.uda.wizard.NewMaintWizard"
				id="com.ejie.uda.wizard.NewMaintWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="7. Generar código para EJB Servidor"
				category="UDA wizard"
				class="com.ejie.uda.wizard.GenerateSkeletonWizard"
				id="com.ejie.uda.wizard.GenerateSkeletonWizard">
		</wizard>
		<wizard
				icon="icons/uda.gif"
				name="6. Generar código para EJB Cliente"
				category="UDA wizard"
				class="com.ejie.uda.wizard.GenerateStubWizard"
				id="com.ejie.uda.wizard.GenerateStubWizard">
		</wizard>
		<wizard  
				icon="icons/uda.gif"
				name="5. Añadir proyecto EJB"
				category="UDA wizard"
				class="com.ejie.uda.wizard.AddEjbApplicationWizard"
				id="com.ejie.uda.wizard.AddEjbApplicationWizard">
		</wizard>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page 
				id="com.ejie.uda.preferences.preferencesPage" 
				name="UDA" 
				class="com.ejie.uda.preferences.PreferecesMainPage"> 
		</page>
	</extension>
	<extension
			point="org.eclipse.core.runtime.preferences">
		<initializer class="com.ejie.uda.preferences.Initializer"/>
	</extension>
	<extension
			point="org.eclipse.help.contexts">
		<contexts
			file="contexts.xml">
		</contexts>
	</extension>
	<extension point="org.eclipse.wst.common.snippets.SnippetContributions">
		<category
				label="UDA" 
				description="Patrones de UDA" 
				id="org.ejie.uda.components.category" 
				filters="*" 
				initial_state="1" 
				smallicon="icons/uda.gif"
				largeicon="icons/uda.gif">
			<item 
					label="Autocomplete"
					id="org.ejie.uda.components.item.autocomplete"
					smallicon="icons/components/autocomplete.png"
					largeicon="icons/components/autocomplete.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Autocomplete]]></description>
				<content>
					<![CDATA[
$("#${idAutocomplete}").rup_autocomplete({
	source: ${propertySource},
	sourceParam: ${propertySourceParam},
	minLength: ${propertyMinLength},
	disabled: ${propertyDisabled},
	delay: ${propertyDelay},
	defaultValue:${propertyDefaultValue}
});
					]]>					
				</content>
				<variable description="Id del input del autocomplete" id="idAutocomplete" default="[idAutocomplete]"></variable>
				<variable description="Propiedad source" id="propertySource" default="[propertySource]"></variable>
				<variable description="Propiedad sourceParam" id="propertySourceParam" default="[propertySourceParam]"></variable>
				<variable description="Propiedad minLength" id="propertyMinLength" default="[propertyMinLength]"></variable>
				<variable description="Propiedad disabled" id="propertyDisabled" default="[propertyDisabled]"></variable>
				<variable description="Propiedad delay" id="propertyDelay" default="[propertyDelay]"></variable>
				<variable description="Propiedad defaultValue" id="propertyDefaultValue" default="[propertyDefaultValue]"></variable>
			</item>
			<item 
					label="Combo"
					id="org.ejie.uda.components.item.combo"
					smallicon="icons/components/combo.png"
					largeicon="icons/components/combo.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Combo]]></description>
				<content>
					<![CDATA[
$("#${idCombo}").rup_combo({
	source: ${propertySource},
	sourceGroup: ${propertySourceGroup},
	sourceParam: ${propertySourceParam},
	selected: ${propertySelected},	
	blank: ${propertyBlank},
	width: ${propertyWidth},
	style: ${propertyStyle},
	maxHeight: ${propertyMaxHeight},
	menuWidth: ${propertyMenuWidth},
	format: ${propertyFormat},
	imgs: ${propertyImgs},
	disabled: ${propertyDisabled}
});
					]]>
				</content>
				<variable description="Id del input del combo" id="idCombo" default="[idCombo]"></variable>
				<variable description="Propiedad source" id="propertySource" default="[propertySource]"></variable>
				<variable description="Propiedad sourceGroup" id="propertySourceGroup" default="[propertySourceGroup]"></variable>
				<variable description="Propiedad sourceParam" id="propertySourceParam" default="[propertySourceParam]"></variable>
				<variable description="Propiedad selected" id="propertySelected" default="[propertySelected]"></variable>
				<variable description="Propiedad blank" id="propertyBlank" default="[propertyBlank]"></variable>
				<variable description="Propiedad width" id="propertyWidth" default="[propertyWidth]"></variable>
				<variable description="Propiedad style" id="propertyStyle" default="[propertyStyle]"></variable>
				<variable description="Propiedad maxHeight" id="propertyMaxHeight" default="[propertyMaxHeight]"></variable>
				<variable description="Propiedad menuWidth" id="propertyMenuWidth" default="[propertyMenuWidth]"></variable>
				<variable description="Propiedad format" id="propertyFormat" default="[propertyFormat]"></variable>
				<variable description="Propiedad imgs" id="propertyImgs" default="[propertyImgs]"></variable>
				<variable description="Propiedad disabled" id="propertyDisabled" default="[propertyDisabled]"></variable>
			</item>
			<item 
					label="Diálogo"
					id="org.ejie.uda.components.item.dialogo"
					smallicon="icons/components/dialog.png"
					largeicon="icons/components/dialog.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Diálogo]]></description>
				<content>
					<![CDATA[
$("#${idDialog}").rup_dialog({
	type: ${propertyType},
	rupCheckStyle: ${propertyRupCheckStyle},
	url: ${propertyUrl},
	showLoading: ${propertyShowLoading},
	disabled: ${propertyDisabled},	
	autoOpen: ${propertyAutoOpen},
	buttons: ${propertyButtons},
	closeOnEscape: ${propertyCloseOnEscape},
	dialogClass: ${propertyDialogClass},
	draggable: ${propertyDraggable},
	height: ${propertyHeight},
	hide: ${propertyHide},
	maxHeight: ${propertyMaxHeight},
	maxWidth: ${propertyMaxWidth},
	minHeight: ${propertyMinHeight},
	minWidth: ${propertyMinWidth},	
	modal: ${propertyModal},
	position: ${propertyPosition},
	resizable: ${propertyResizable},
	show: ${propertyShow},
	stack: ${propertyStack},
	title: ${propertyTitle},
	width: ${propertyWidth},
	zIndex: ${propertyZIndex}
});					
					]]>
				</content>
				<variable description="Capa de diálogo" id="idDialog" default="[idDialog]"></variable>
				<variable description="Propiedad type" id="propertyType" default="[propertyType]"></variable>
				<variable description="Propiedad rupCheckStyle" id="propertyRupCheckStyle" default="[propertyRupCheckStyle]"></variable>
				<variable description="Propiedad url" id="propertyUrl" default="[propertyUrl]"></variable>
				<variable description="Propiedad showLoading" id="propertyShowLoading" default="[propertyShowLoading]"></variable>
				<variable description="Propiedad disabled" id="propertyDisabled" default="[propertyDisabled]"></variable>				
				<variable description="Propiedad autoOpen" id="propertyAutoOpen" default="[propertyAutoOpen]"></variable>
				<variable description="Propiedad buttons" id="propertyButtons" default="[propertyButtons]"></variable>
				<variable description="Propiedad closeOnEscape" id="propertyCloseOnEscape" default="[propertyCloseOnEscape]"></variable>
				<variable description="Propiedad dialogClass" id="propertyDialogClass" default="[propertyDialogClass]"></variable>
				<variable description="Propiedad draggable" id="propertyDraggable" default="[propertyDraggable]"></variable>
				<variable description="Propiedad height" id="propertyHeight" default="[propertyHeight]"></variable>
				<variable description="Propiedad hide" id="propertyHide" default="[propertyHide]"></variable>
				<variable description="Propiedad maxHeight" id="propertyMaxHeight" default="[propertyMaxHeight]"></variable>				
				<variable description="Propiedad maxWidth" id="propertyMaxWidth" default="[propertyMaxWidth]"></variable>
				<variable description="Propiedad minHeight" id="propertyMinHeight" default="[propertyMinHeight]"></variable>
				<variable description="Propiedad minWidth" id="propertyMinWidth" default="[propertyMinWidth]"></variable>
				<variable description="Propiedad modal" id="propertyModal" default="[propertyModal]"></variable>
				<variable description="Propiedad position" id="propertyPosition" default="[propertyPosition]"></variable>
				<variable description="Propiedad resizable" id="propertyResizable" default="[propertyResizable]"></variable>
				<variable description="Propiedad show" id="propertyShow" default="[propertyShow]"></variable>
				<variable description="Propiedad stack" id="propertyStack" default="[propertyStack]"></variable>
				<variable description="Propiedad title" id="propertyTitle" default="[propertyTitle]"></variable>
				<variable description="Propiedad width" id="propertyWidth" default="[propertyWidth]"></variable>
				<variable description="Propiedad zIndex" id="propertyZIndex" default="[propertyZIndex]"></variable>
			</item>
			<item 
					label="Feedback"
					id="org.ejie.uda.components.item.feedback"
					smallicon="icons/components/feedback.png"
					largeicon="icons/components/feedback.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Feedback]]></description>
				<content>
					<![CDATA[
$("#${idFeedback}").rup_feedback({
	type: ${propertyType},
	imgClass: ${propertyImgClass},
	delay: ${propertyDelay},
	fadeSpeed: ${propertyFadeSpeed},
	gotoTop: ${propertyGotoTop},	
	block: ${propertyBlock},
	closeLink: ${propertyCloseLink}
});					
					]]>
				</content>
				<variable description="Capa de feedback" id="idFeedback" default="[idFeedback]"></variable>
				<variable description="Propiedad type" id="propertyType" default="[propertyType]"></variable>
				<variable description="Propiedad imgClass" id="propertyImgClass" default="[propertyImgClass]"></variable>
				<variable description="Propiedad delay" id="propertyDelay" default="[propertyDelay]"></variable>
				<variable description="Propiedad fadeSpeed" id="propertyFadeSpeed" default="[propertyFadeSpeed]"></variable>
				<variable description="Propiedad gotoTop" id="propertyGotoTop" default="[propertyGotoTop]"></variable>				
				<variable description="Propiedad block" id="propertyBlock" default="[propertyBlock]"></variable>
				<variable description="Propiedad closeLink" id="propertyCloseLink" default="[propertyCloseLink]"></variable>
			</item>
			<item 
					label="Grid"
					id="org.ejie.uda.components.item.grid"
					smallicon="icons/components/grid.png"
					largeicon="icons/components/grid.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Grid]]></description>
				<content>
					<![CDATA[
$("#${idGrid}").rup_grid({
	loadOnStartUp: ${propertyLoadOnStartUp},
	hasMaint: ${propertyHasMaint},
	autoencode: ${propertyAutoencode},
	autowidth: ${propertyAutowidth},
	caption: ${propertyCaption},
	cellLayout: ${propertyCellLayout},
	cellEdit: ${propertyCellEdit},
	cellsubmit: ${propertyCellsubmit},
	cellurl: ${propertyCellurl},
	colModel: ${propertyColModel},
	colNames: ${propertyColNames},
	datatype: ${propertyDatatype},
	datastr: ${propertyDatastr},
	direction: ${propertyDirection},
	editurl: ${propertyEditurl},
	emptyrecords: ${propertyEmptyrecords},
	expandColClick: ${propertyExpandColClick},
	expandColumn: ${propertyExpandColumn},
	forceFit: ${propertyForceFit},
	gridstate: ${propertyGridstate},
	height: ${propertyHeight},
	hiddengrid: ${propertyHiddengrid},
	hidegrid: ${propertyHidegrid},
	hoverrows: ${propertyHoverrows},
	jsonReader: ${propertyJsonReader},
	lastpage: ${propertyLastpage},
	lastsort: ${propertyLastsort},
	loadonce: ${propertyLoadonce},
	loadtext: ${propertyLoadtext},
	mtype: ${propertyMtype},
	multikey: ${propertyMultikey},
	multiboxonly: ${propertyMultiboxonly},
	multiselect: ${propertyMultiselect},
	multiselectWidth: ${propertyMultiselectWidth},
	page: ${propertyPage},
	pager: ${propertyPager},
	pagerpos: ${propertyPagerpos},
	prmNames: ${propertyPrmNames},
	postData: ${propertyPostData},
	recordpos: ${propertyRecordpos},
	records: ${propertyRecords},
	recordtext: ${propertyRecordtext},
	resizeclass: ${propertyResizeclass},
	rownumbers: ${propertyRownumbers},
	rowNum: ${propertyRowNum},
	rownumWidth: ${propertyRownumWidth},
	scroll: ${propertyScroll},
	scrollOffset: ${propertyScrollOffset},
	selarrrow: ${propertySelarrrow},
	selrow: ${propertySelrow},
	shrinkToFit: ${propertyShrinkToFit},
	sortable: ${propertySortable},
	sortname: ${propertySortname},
	sortorder: ${propertySortorder},
	totaltime: ${propertyTotaltime},
	url: ${propertyUrl},
	viewrecords: ${propertyViewrecords},
	viewsortcols: ${propertyViewsortcols},
	width: ${propertyWidth},
	xmlReader: ${propertyXmlReader},
	colNames: [
			${propertyName}
	],
	colModel: [
		{
			name: ${propertyName},
			label: ${propertyLabel},
			index: ${propertyIndex},
			align: ${propertyAlign},
			classes: ${propertyClasses},
			datefmt: ${propertyDatefmt},
			editable: ${propertyEditable},
			editoptions: ${propertyEditoptions},
			editRules: ${propertyEditRules},
			edittypes: ${propertyEdittypes},
			fixed: ${propertyFixed},
			formatter: ${propertyFormatter},
			hidden: ${propertyHidden},
			jsonmap: ${propertyJsonmap},
			resizable: ${propertyResizable},
			sortable: ${propertySortable},
			width: ${propertyWidth},
			unformat: ${propertyUnformat},
			xmlmap: ${propertyXmlmap}
		}
	]
});
					]]>
				</content>
				<variable description="Id del grid" id="idGrid" default="[idGrid]"></variable>
				<variable description="Propiedad loadOnStartUp" id="propertyLoadOnStartUp" default="[propertyLoadOnStartUp]"></variable>
				<variable description="Propiedad hasMaint" id="propertyHasMaint" default="[propertyHasMaint]"></variable>
				<variable description="Propiedad autoencode" id="propertyAutoencode" default="[propertyAutoencode]"></variable>
				<variable description="Propiedad autowidth" id="propertyAutowidth" default="[propertyAutowidth]"></variable>
				<variable description="Propiedad caption" id="propertyCaption" default="[propertyCaption]"></variable>
				<variable description="Propiedad cellLayout" id="propertyCellLayout" default="[propertyCellLayout]"></variable>
				<variable description="Propiedad cellEdit" id="propertyCellEdit" default="[propertyCellEdit]"></variable>
				<variable description="Propiedad cellsubmit" id="propertyCellsubmit" default="[propertyCellsubmit]"></variable>
				<variable description="Propiedad cellurl" id="propertyCellurl" default="[propertyCellurl]"></variable>
				<variable description="Propiedad colModel" id="propertyColModel" default="[propertyColModel]"></variable>
				<variable description="Propiedad colNames" id="propertyColNames" default="[propertyColNames]"></variable>
				<variable description="Propiedad datatype" id="propertyDatatype" default="[propertyDatatype]"></variable>
				<variable description="Propiedad datastr" id="propertyDatastr" default="[propertyDatastr]"></variable>
				<variable description="Propiedad direction" id="propertyDirection" default="[propertyDirection]"></variable>
				<variable description="Propiedad editurl" id="propertyEditurl" default="[propertyEditurl]"></variable>
				<variable description="Propiedad emptyrecords" id="propertyEmptyrecords" default="[propertyEmptyrecords]"></variable>
				<variable description="Propiedad expandColClick" id="propertyExpandColClick" default="[propertyExpandColClick]"></variable>
				<variable description="Propiedad expandColumn" id="propertyExpandColumn" default="[propertyExpandColumn]"></variable>
				<variable description="Propiedad forceFit" id="propertyForceFit" default="[propertyForceFit]"></variable>
				<variable description="Propiedad gridstate" id="propertyGridstate" default="[propertyGridstate]"></variable>
				<variable description="Propiedad height" id="propertyHeight" default="[propertyHeight]"></variable>
				<variable description="Propiedad hiddengrid" id="propertyHiddengrid" default="[propertyHiddengrid]"></variable>
				<variable description="Propiedad hidegrid" id="propertyHidegrid" default="[propertyHidegrid]"></variable>
				<variable description="Propiedad hoverrows" id="propertyHoverrows" default="[propertyHoverrows]"></variable>
				<variable description="Propiedad jsonReader" id="propertyJsonReader" default="[propertyJsonReader]"></variable>
				<variable description="Propiedad lastpage" id="propertyLastpage" default="[propertyLastpage]"></variable>
				<variable description="Propiedad lastsort" id="propertyLastsort" default="[propertyLastsort]"></variable>
				<variable description="Propiedad loadonce" id="propertyLoadonce" default="[propertyLoadonce]"></variable>
				<variable description="Propiedad loadtext" id="propertyLoadtext" default="[propertyLoadtext]"></variable>
				<variable description="Propiedad mtype" id="propertyMtype" default="[propertyMtype]"></variable>
				<variable description="Propiedad multikey" id="propertyMultikey" default="[propertyMultikey]"></variable>
				<variable description="Propiedad multiboxonly" id="propertyMultiboxonly" default="[propertyMultiboxonly]"></variable>
				<variable description="Propiedad multiselect" id="propertyMultiselect" default="[propertyMultiselect]"></variable>
				<variable description="Propiedad multiselectWidth" id="propertyMultiselectWidth" default="[propertyMultiselectWidth]"></variable>
				<variable description="Propiedad page" id="propertyPage" default="[propertyPage]"></variable>
				<variable description="Propiedad pager" id="propertyPager" default="[propertyPager]"></variable>
				<variable description="Propiedad pagerpos" id="propertyPagerpos" default="[propertyPagerpos]"></variable>
				<variable description="Propiedad prmNames" id="propertyPrmNames" default="[propertyPrmNames]"></variable>
				<variable description="Propiedad postData" id="propertyPostData" default="[propertyPostData]"></variable>
				<variable description="Propiedad recordpos" id="propertyRecordpos" default="[propertyRecordpos]"></variable>
				<variable description="Propiedad records" id="propertyRecords" default="[propertyRecords]"></variable>
				<variable description="Propiedad recordtext" id="propertyRecordtext" default="[propertyRecordtext]"></variable>
				<variable description="Propiedad resizeclass" id="propertyResizeclass" default="[propertyResizeclass]"></variable>
				<variable description="Propiedad rownumbers" id="propertyRownumbers" default="[propertyRownumbers]"></variable>
				<variable description="Propiedad rowNum" id="propertyRowNum" default="[propertyRowNum]"></variable>
				<variable description="Propiedad rownumWidth" id="propertyRownumWidth" default="[propertyRownumWidth]"></variable>
				<variable description="Propiedad scroll" id="propertyScroll" default="[propertyScroll]"></variable>
				<variable description="Propiedad scrollOffset" id="propertyScrollOffset" default="[propertyScrollOffset]"></variable>
				<variable description="Propiedad selarrrow" id="propertySelarrrow" default="[propertySelarrrow]"></variable>
				<variable description="Propiedad selrow" id="propertySelrow" default="[propertySelrow]"></variable>
				<variable description="Propiedad shrinkToFit" id="propertyShrinkToFit" default="[propertyShrinkToFit]"></variable>
				<variable description="Propiedad sortable" id="propertySortable" default="[propertySortable]"></variable>
				<variable description="Propiedad sortname" id="propertySortname" default="[propertySortname]"></variable>
				<variable description="Propiedad sortorder" id="propertySortorder" default="[propertySortorder]"></variable>
				<variable description="Propiedad totaltime" id="propertyTotaltime" default="[propertyTotaltime]"></variable>
				<variable description="Propiedad url" id="propertyUrl" default="[propertyUrl]"></variable>
				<variable description="Propiedad viewrecords" id="propertyViewrecords" default="[propertyViewrecords]"></variable>
				<variable description="Propiedad viewsortcols" id="propertyViewsortcols" default="[propertyViewsortcols]"></variable>
				<variable description="Propiedad width" id="propertyWidth" default="[propertyWidth]"></variable>
				<variable description="Propiedad xmlReader" id="propertyXmlReader" default="[propertyXmlReader]"></variable>
				<!-- Propiedades de las columnas -->
				<variable description="Propiedad name" id="propertyName" default="[propertyName]"></variable>
				<variable description="Propiedad label" id="propertyLabel" default="[propertyLabel]"></variable>
				<variable description="Propiedad index" id="propertyIndex" default="[propertyIndex]"></variable>
				<variable description="Propiedad align" id="propertyAlign" default="[propertyAlign]"></variable>
				<variable description="Propiedad classes" id="propertyClasses" default="[propertyClasses]"></variable>
				<variable description="Propiedad datefmt" id="propertyDatefmt" default="[propertyDatefmt]"></variable>
				<variable description="Propiedad editable" id="propertyEditable" default="[propertyEditable]"></variable>
				<variable description="Propiedad editoptions" id="propertyEditoptions" default="[propertyEditoptions]"></variable>
				<variable description="Propiedad editRules" id="propertyEditRules" default="[propertyEditRules]"></variable>
				<variable description="Propiedad edittypes" id="propertyEdittypes" default="[propertyEdittypes]"></variable>
				<variable description="Propiedad fixed" id="propertyFixed" default="[propertyFixed]"></variable>
				<variable description="Propiedad formatter" id="propertyFormatter" default="[propertyFormatter]"></variable>
				<variable description="Propiedad hidden" id="propertyHidden" default="[propertyHidden]"></variable>
				<variable description="Propiedad jsonmap" id="propertyJsonmap" default="[propertyJsonmap]"></variable>
				<variable description="Propiedad resizable" id="propertyResizable" default="[propertyResizable]"></variable>
				<variable description="Propiedad sortable" id="propertySortable" default="[propertySortable]"></variable>
				<variable description="Propiedad width" id="propertyWidth" default="[propertyWidth]"></variable>
				<variable description="Propiedad xmlmap" id="propertyXmlmap" default="[propertyXmlmap]"></variable>
				<variable description="Propiedad unformat" id="propertyUnformat" default="[propertyUnformat]"></variable>				
			</item>			
			<item 
					label="Idioma"
					id="org.ejie.uda.components.item.language"
					smallicon="icons/components/language.png"
					largeicon="icons/components/language.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Idioma]]></description>
				<content>
					<![CDATA[
$("#${idLanguage}").rup_language({languages: ["es","eu"]});
					]]>
				</content>
				<variable description="Capa de idioma" id="idLanguage" default="[idLanguage]"></variable>
			</item>			
			<item 
					label="Mantenimiento"
					id="org.ejie.uda.components.item.maint"
					smallicon="icons/components/maint.png"
					largeicon="icons/components/maint.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Mantenimiento]]></description>
				<content>
					<![CDATA[
$("#${idMaint}").rup_maint({
	jQueryGrid: ${propertyJQueryGrid},
	imgPath: ${propertyImgPath},
	detailDiv: ${propertyDetailDiv},
	searchForm: ${propertySearchForm},
	detailForm: ${propertyDetailForm},
	toolbar: ${propertyToolbar},
	showFeedback: ${propertyShowFeedback},
	feedback: ${propertyFeedback},
	loadOnStartUp: ${propertyLoadOnStartUp},
	autoAjustToolbar: ${propertyAutoAjustToolbar},
	createDefaultToolButtons: ${propertyCreateDefaultToolButtons},
	primaryKey: ${propertyPrimaryKey},
	showMessages: ${propertyShowMessages},
	validationMode: ${propertyValidationMode},
	modelObject: ${propertyModelObject},
	detailButtons: ${propertyDetailButtons}, 
	rupCheckStyle: ${propertyRupCheckStyle},
	detailServer: ${propertyDetailServer},
	parent: ${propertyParent}
});
					]]>
				</content>
				<variable description="Id Mantenimiento" id="idMaint" default="[idMaint]"></variable>
				<variable description="Propiedad jQueryGrid" id="propertyJQueryGrid" default="[propertyJQueryGrid]"></variable>
				<variable description="Propiedad imgPath" id="propertyImgPath" default="[propertyImgPath]"></variable>
				<variable description="Propiedad detailDiv" id="propertyDetailDiv" default="[propertyDetailDiv]"></variable>
				<variable description="Propiedad searchForm" id="propertySearchForm" default="[propertySearchForm]"></variable>
				<variable description="Propiedad detailForm" id="propertyDetailForm" default="[propertyDetailForm]"></variable>
				<variable description="Propiedad toolbar" id="propertyToolbar" default="[propertyToolbar]"></variable>
				<variable description="Propiedad showFeedback" id="propertyShowFeedback" default="[propertyShowFeedback]"></variable>
				<variable description="Propiedad feedback" id="propertyFeedback" default="[propertyFeedback]"></variable>
				<variable description="Propiedad loadOnStartUp" id="propertyLoadOnStartUp" default="[propertyLoadOnStartUp]"></variable>
				<variable description="Propiedad autoAjustToolbar" id="propertyAutoAjustToolbar" default="[propertyAutoAjustToolbar]"></variable>
				<variable description="Propiedad createDefaultToolButtons" id="propertyCreateDefaultToolButtons" default="[propertyCreateDefaultToolButtons]"></variable>
				<variable description="Propiedad primaryKey" id="propertyPrimaryKey" default="[propertyPrimaryKey]"></variable>
				<variable description="Propiedad showMessages" id="propertyShowMessages" default="[propertyShowMessages]"></variable>
				<variable description="Propiedad validationMode" id="propertyValidationMode" default="[propertyValidationMode]"></variable>
				<variable description="Propiedad modelObject" id="propertyModelObject" default="[propertyModelObject]"></variable>
				<variable description="Propiedad detailButtons" id="propertyDetailButtons" default="[propertyDetailButtons]"></variable> 
				<variable description="Propiedad rupCheckStyle" id="propertyRupCheckStyle" default="[propertyRupCheckStyle]"></variable>
				<variable description="Propiedad detailServer" id="propertyDetailServer" default="[propertyDetailServer]"></variable>
				<variable description="Propiedad parent" id="propertyParent" default="[propertyParent]"></variable>
			</item>
			<item 
					label="Mensajes"
					id="org.ejie.uda.components.item.messages"
					smallicon="icons/components/messages.png"
					largeicon="icons/components/messages.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Mensajes]]></description>
				<content>
					<![CDATA[
$.rup_messages("${typeMessage}", {
	title: ${propertyTitle},
	message: ${propertyMessage}
});
					]]>
				</content>
				<variable description="Tipo de mensaje (msgError, msgConfirm, msgOK, msgAlert)" id="typeMessage" default="[typeMessage]"></variable>
				<variable description="Propiedad title" id="propertyTitle" default="[propertyTitle]"></variable>
				<variable description="Propiedad message" id="propertyMessage" default="[propertyMessage]"></variable>
			</item>						
			<item 
					label="Menú"
					id="org.ejie.uda.components.item.menu"
					smallicon="icons/components/menu.png"
					largeicon="icons/components/menu.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Menú]]></description>
				<content>
					<![CDATA[
$("#${idMenu}").rup_menu({
	file: ${propertyFile},
	display: ${propertyDisplay},
	i18nCaption: ${propertyI18nCaption},
	link: ${propertyLink},
	submenu: ${propertySubmenu}
});
					]]>
				</content>
				<variable description="Capa del Menu" id="idMenu" default="[idMenu]"></variable>
				<variable description="Propiedad file" id="propertyFile" default="[propertyFile]"></variable>
				<variable description="Propiedad display" id="propertyDisplay" default="[propertyDisplay]"></variable>
				<variable description="Propiedad i18nCaption" id="propertyI18nCaption" default="[propertyI18nCaption]"></variable>
				<variable description="Propiedad link" id="propertyLink" default="[propertyLink]"></variable>
				<variable description="Propiedad submenu" id="propertySubmenu" default="[propertySubmenu]"></variable>
			</item>						
			<item 
					label="Migas"
					id="org.ejie.uda.components.item.breadcrumb"
					smallicon="icons/components/breadcrumb.png"
					largeicon="icons/components/breadcrumb.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Migas]]></description>
				<content>
					<![CDATA[
$("#${idMigas}").rup_breadCrumb({
	showSpeed: ${propertyShowSpeed},
	hideSpeed: ${propertyHideSpeed},
	collapsible: ${propertyCollapsible},
	collapsedWidth: ${propertyCollapsedWidth},
	breadCrumb: ${propertyBreadCrumb}
});
					]]>
				</content>
				<variable description="Capa de migas" id="idMigas" default="[idMigas]"></variable>
				<variable description="Propiedad showSpeed" id="propertyShowSpeed" default="[propertyShowSpeed]"></variable>
				<variable description="Propiedad hideSpeed" id="propertyHideSpeed" default="[propertyHideSpeed]"></variable>
				<variable description="Propiedad collapsible" id="propertyCollapsible" default="[propertyCollapsible]"></variable>
				<variable description="Propiedad collapsedWidth" id="propertyCollapsedWidth" default="[propertyCollapsedWidth]"></variable>
				<variable description="Propiedad breadCrumb" id="propertyBreadCrumb" default="[propertyBreadCrumb]"></variable>				
			</item>						
			<item 
					label="Toolbar"
					id="org.ejie.uda.components.item.toolbar"
					smallicon="icons/components/toolbar.png"
					largeicon="icons/components/toolbar.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Toolbar]]></description>
				<content>
					<![CDATA[
$("#${idToolbar}").rup_toolbar({
	width: ${propertyWidth},
	buttons: ${propertyButtons},
	mbuttons: ${propertyMbuttons}
});
					]]>
				</content>
				<variable description="Capa toolbar" id="idToolbar" default="[idToolbar]"></variable>
				<variable description="Propiedad width" id="propertyWidth" default="[propertyWidth]"></variable>
				<variable description="Propiedad buttons" id="propertyButtons" default="[propertyButtons]"></variable>
				<variable description="Propiedad mbuttons" id="propertyMbuttons" default="[propertyMbuttons]"></variable>
			</item>						
			<item 
					label="Tooltip"
					id="org.ejie.uda.components.item.tooltip"
					smallicon="icons/components/tooltip.png"
					largeicon="icons/components/tooltip.png"
					class="org.eclipse.wst.common.snippets.ui.DefaultSnippetInsertion">
				<description><![CDATA[Patrón Tooltip]]></description>
				<content>
					<![CDATA[
$("${title}").rup_tootlip({
	disabled: ${propertyDisabled},
	position: ${propertyPosition}
});
					]]>
				</content>
				<variable description="Propiedad title" id="title" default="[title]"></variable>
				<variable description="Propiedad disabled" id="propertyDisabled" default="[propertyDisabled]"></variable>
				<variable description="Propiedad position" id="propertyPosition" default="[propertyPosition]"></variable>
			</item>			
		</category>
	</extension>

</plugin>